@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --color-primary: #023d3b;
    --color-secondary: #0abc8a;
    --color-accent: #10b981;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE dan Edge lama */
    scrollbar-width: none; /* Firefox */
}
